<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Register</title>
</head>
<body>
    <div class="flex-container centre direction-column">
        <h1>Register</h1>
        <form action="/register" method="POST">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="repeatPassword" placeholder="Repeate Password">
            <input type="submit" value="Register">
        </form>
        <% if(locals.error) { %>
            <p><%= locals.error %> </p>
        <% } %>
    </div> 
</body>
</html>